## creditcard ##
test.py
*.log

## Python ##
*.pyc
env/
env2/
env3/
dist/
*.egg-info/

## JetBrains ##
.idea/

## Windows ##
Thumbds.db
Desktop.ini
*.lnk

## macOS ##
.DS_Store

## Linux ##
._*
.directory

